/python_embeded
/BlueArchive-Steam-IL2CPP-dump/cpp2il_out_cs
/BlueArchive-Tools-main/tools
/BlueArchive-Tools-main/PyCriCodecs/build
/BlueArchive-Steam-IL2CPP-dump/Cpp2IL多版本工具链
BlueArchive-Steam-IL2CPP-dump/Il2CppDumper-master.zip
BlueArchive-Steam-IL2CPP-dump/Cpp2IL.exe
/BlueArchive_Data
/.claude
/BlueArchive-Steam-IL2CPP-dump/Il2CppDumper-master
/backup_game_files
other_support_project/*.zip
other_support_project/*.exe