accelerate==1.10.1
acres==0.3.0
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiolimiter==1.2.1
aiosignal==1.3.2
aliyun-log-python-sdk==0.8.8
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.2.0
anytree==2.13.0
appdirs==1.4.4
APScheduler==3.11.0
archspec==0.2.6
argcomplete==3.5.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
ascii_colors==0.8.0
asgiref==3.8.1
astc-encoder-py==0.1.12
asttokens==3.0.0
async-timeout==4.0.3
asyncpg==0.30.0
attr==0.3.1
attrs==23.1.0
audioread==3.0.1
autograd==1.7.0
azure-core==1.29.5
azure-storage-blob==12.19.0
babel==2.17.0
backports.tarfile==1.2.0
bcrypt==4.3.0
beartype==0.18.5
beautifulsoup4==4.13.4
black==24.8.0
bleach==5.0.1
blinker==1.9.0
boto==2.49.0
boto3==1.28.58
botocore==1.31.58
brotli==1.2.0
bs4==0.0.2
BTrees==6.1
build==1.2.2.post1
CacheControl==0.14.3
cachetools==5.3.2
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2024.7.4
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
cleo==2.1.0
click==8.1.7
cloudscraper==1.2.71
colorama==0.4.6
configobj==5.0.9
configparser==7.2.0
contourpy==1.3.1
coverage==7.8.0
crashtest==0.4.1
crcmanip_fastcrc @ file:///C:/Users/Benson/Downloads/EdgeDownload/BlueArchive-Tools-main/crcmanip
crcmod==1.7
cryptography==45.0.3
cssselect==1.3.0
cssselect2==0.8.0
curl_cffi==0.11.3
cycler==0.12.1
dashscope==1.22.2
dataclasses-json==0.6.7
datamodel-code-generator==0.26.1
datasets==3.2.0
dateparser==1.2.1
dateutils==0.6.12
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.8
distlib==0.3.7
distro==1.9.0
Django==5.1.9
django-annoying==0.10.6
django-cors-headers==4.7.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==24.3
django-migration-linter==5.1.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.10.3
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
dnspython==2.6.1
docopt==0.6.2
docstring_parser==0.16
docutils==0.20.1
docx==0.2.4
docx2python==3.5.0
docxcompose==1.4.0
docxtpl==0.19.1
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
dulwich==0.22.8
easyofd==0.5.1
ecdsa==0.19.1
editdistance==0.8.1
einops==0.8.1
elastic-transport==8.17.1
elasticsearch==8.10.0
email_validator==2.2.0
et_xmlfile==2.0.0
etcpak==0.9.15
etelemetry==0.3.1
exceptiongroup==1.1.3
execnet==2.1.1
executing==2.2.0
expiringdict==1.2.2
factory_boy==3.3.3
Faker==33.1.0
fakeredis==2.26.2
fastapi==0.115.12
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.13.1
findpython==0.6.3
fitz==0.0.1.dev2
Flask==3.1.0
flask-cors==5.0.1
flatbuffers==25.12.19
fmod_toolkit==0.1.3
fonttools==4.56.0
freezegun==1.5.1
frontend==0.0.3
frozenlist==1.5.0
fsspec==2024.9.0
funasr==1.2.6
future==1.0.0
g4f==0.5.4.1
gensim==4.4.0
genson==1.3.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.14.0
google-auth==2.23.4
google-cloud-appengine-logging==1.4.3
google-cloud-audit-log==0.2.5
google-cloud-core==2.3.3
google-cloud-logging==3.10.0
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
gradio==5.16.2
gradio_client==1.7.1
graspologic==3.4.1
graspologic-native==1.2.5
greenlet==3.1.1
grpc-google-iam-v1==0.13.0
grpcio==1.66.2
grpcio-status==1.62.1
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.29.3
humansignal-drf-yasg==1.21.10.post1
hydra-core==1.3.2
hyppo==0.4.0
id==1.5.0
identify==2.5.31
idna==3.7
ijson==3.3.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
img2pdf==0.6.1
importlib-metadata==6.8.0
importlib_resources==6.5.2
inflect==5.6.2
inflection==0.5.1
iniconfig==2.0.0
installer==0.7.0
ipython==8.36.0
isodate==0.6.1
isort==5.13.2
itsdangerous==2.2.0
jaconv==0.4.0
jamo==0.4.1
jaraco.classes==3.3.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiter==0.13.0
jmespath==1.0.1
joblib==1.4.2
jsf==0.11.2
json5==0.10.0
json_repair==0.40.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpath==0.82.2
jsonpickle==4.1.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kaldiio==2.18.1
keyring==24.2.0
kiwisolver==1.4.8
langchain-community==0.4.1
langchain-core==1.2.2
langchain-openai==1.1.3
langchain-text-splitters==1.1.0
langgraph==1.0.10
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.11
langsmith==0.7.16
lapx==0.5.11.post1
launchdarkly-server-sdk==8.2.1
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
lockfile==0.12.2
loguru==0.7.3
looseversion==1.3.0
lxml==5.4.0
lxml_html_clean==0.4.0
lz4==4.4.5
magic-pdf==1.3.12
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.26.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mcp==1.9.2
mdurl==0.1.2
minio==7.2.15
mock==5.1.0
modelscope==1.27.0
more-itertools==10.1.0
moto==4.2.7
moviepy==1.0.3
msgpack==1.1.0
multidict==6.2.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nano-vectordb==0.0.4.3
neo4j==5.28.1
nest-asyncio==1.6.0
networkx==3.1
nh3==0.2.14
nibabel==5.3.2
nipype==1.10.0
nltk==3.9.1
nodeenv==1.8.0
numba==0.61.2
numpy==2.2.6
ollama==0.3.3
onnxruntime-gpu==1.16.0
openai==2.26.0
opencv-python==4.11.0.86
opendal==0.45.20
openpyxl==3.1.5
opt-einsum==3.3.0
ordered-set==4.0.2
orjson==3.11.7
ormsgpack==1.12.2
oss2==2.19.1
packaging==24.2
paddlepaddle==3.3.0
paho-mqtt==1.6.1
pandas==2.2.3
paragraphs==1.0.1
parso==0.8.4
passlib==1.7.4
pathlib==1.0.1
pathspec==0.12.1
patsy==1.0.1
pbr==6.0.0
pbs-installer==2025.6.12
pdfminer.six==20250506
pdfplumber==0.11.6
pefile==2023.2.7
persistent==6.1.1
pika==1.3.2
pikepdf==9.8.1
pillow==10.4.0
pipmaster==0.7.0
pkginfo==1.12.1.2
platformdirs==3.11.0
pluggy==1.3.0
poetry==2.1.3
poetry-core==2.1.3
pooch==1.8.2
POT==0.9.5
pre-commit==3.3.3
proglog==0.1.12
prompt_toolkit==3.0.51
propcache==0.3.0
proto-plus==1.23.0
protobuf==4.25.0
prov==2.0.1
psutil==7.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pulsar-client==3.10.0
pure_eval==0.2.3
puremagic==1.28
py==1.11.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1-modules==0.3.0
pyboxen==1.3.0
pycairo==1.28.0
pycocotools==2.0.11
pycparser==2.21
PyCriCodecs @ file:///C:/Users/Benson/Downloads/EdgeDownload/BlueArchive-Tools-main/PyCriCodecs
pycryptodome==3.22.0
pydantic==2.10.6
pydantic-settings==2.13.1
pydantic_core==2.27.2
pydot==3.0.4
pydub==0.25.1
pyfmodex==0.7.2
Pygments==2.16.1
pyhocon==0.3.61
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
PyJWT==2.10.1
pykwalify==1.8.0
pymilvus==2.5.6
PyMuPDF==1.26.0
PyMySQL==1.1.1
pynndescent==0.5.13
pyodps==0.12.2
pyparsing==3.2.1
pypdf==5.4.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pypinyin==0.55.0
pyproject_hooks==1.2.0
pyRFC3339==1.1
pytest==7.2.2
pytest-cov==5.0.0
pytest-django==4.9.0
pytest-env==0.6.2
pytest-forked==1.6.0
pytest-mock==3.14.0
pytest-xdist==3.6.1
python-box==6.1.0
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.1.0
python-jose==3.4.0
python-json-logger==2.0.4
python-multipart==0.0.20
python-pptx==1.0.2
pytorch-wpe==0.0.1
pytz==2022.7.1
pyuca==1.2
pyvis==0.3.2
pywin32==310
pywin32-ctypes==0.2.2
pyxnat==1.6.3
PyYAML==6.0.1
RapidFuzz==3.13.0
rdflib==6.3.2
readme-renderer==42.0
redis==7.1.0
referencing==0.35.1
regex==2024.5.15
reportlab==4.0.4
requests==2.32.5
requests-file==2.1.0
requests-mock==1.12.1
requests-toolbelt==1.0.0
responses==0.13.0
retrying==1.3.4
rfc3986==2.0.0
rich==13.6.0
rpds-py==0.20.0
rq==1.16.2
rsa==4.9
rstr==3.2.2
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
ruff==0.11.6
rules==3.4
s3transfer==0.7.0
safehttpx==0.1.6
safetensors==0.7.0
schedule==1.2.2
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
semantic-version==2.10.0
semver==2.13.0
sentencepiece==0.2.0
sentry-sdk==2.16.0
shellingham==1.5.4
simplejson==3.20.1
six==1.16.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
SQLAlchemy==2.0.35
sqlparse==0.5.0
sse-starlette==2.3.4
stack-data==0.6.3
starlette==0.46.2
statsmodels==0.14.4
stevedore==4.1.1
svglib==1.5.1
tabulate==0.9.0
tavern==2.3.0
tenacity==8.5.0
tensorboardX==2.6.4
texture2ddecoder==1.0.6
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tldextract==5.1.3
tokenizers==0.21.4
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.2
torch-complex==0.4.4
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
transaction==5.0
transformers==4.49.0
trove-classifiers==2025.5.9.12
twine==6.1.0
typer==0.15.2
types-html5lib==1.1.11.20250516
types-lxml==2025.3.30
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
tzlocal==5.3.1
ua-parser==0.18.0
ujson==5.8.0
umap-learn==0.5.7
UnityPy==1.25.0
uritemplate==4.1.1
urllib3==1.26.19
user-agents==2.2.0
uuid_utils==0.14.1
uvicorn==0.34.3
virtualenv==20.26.6
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.3
wget==3.2
win32_setctime==1.2.0
wrapt==1.17.0
xlrd==2.0.2
XlsxWriter==3.2.3
xmljson==0.2.1
xmltodict==0.13.0
xxhash==3.6.0
yarl==1.18.3
zc.lockfile==3.0.post1
ZConfig==4.2
zipp==3.19.1
ZODB==6.0
zodbpickle==4.2
zope.deferredimport==5.0
zope.event==5.0
zope.interface==7.2
zope.proxy==6.1
zstandard==0.23.0
